.container {
  margin-left: 5%;
  margin-right: 5%;
}

.top-info h1 {
  margin-top: 8%;
  font-size: 45px;
  margin-left: 37.5%;
  border: rgba(255, 255, 255, 0.658) solid;
  background-color: rgba(255, 255, 255, 0.082);
  width: 350px;
  text-align: center;
  padding: 1%;
}

.current-date {
  float: left;
  margin-left: 5%;
}

.forecast-generalinfo {
  float: right;
  margin-right: 5%;
  margin-top: -11.7%;
}

.comingdays-forecast {
  margin-left: 28%;
  background-color: rgba(7, 36, 36, 0.089);
  width: 40%;
  text-align: center;
}

.comingdays-forecast h2 {
  font-size: 30px;
}

.comingdays-table {
  text-align: center;
  margin-bottom: 10%;
  padding-left: 23%;
}

.img-comingdays-forecast {
  width: 55px;
  height: 55px;
}

.hour-forecast-slider {
  float: left;
  margin-left: 5%;
  margin-top: 1%;
}

.current-weather {
  margin-left: 6.5%;
}

.img-fluid-current {
  margin-left: 1%;
  width: 80px;
  height: 80px;
}

.all-of-them {
  background-color: rgba(196, 238, 255, 0.164);
  border: rgba(255, 255, 255, 0.075) solid;
  color: white;
}
